
html,
body {
  
  padding: 0;
  margin: 0;
  color: var(--bianco);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --luminosity:255;
  --bianco: rgb(var(--luminosity), var(--luminosity), var(--luminosity));
  --dark: calc(calc(var(--luminosity) - 255) * (-1));
  --nero: rgb(var(--dark), var(--dark), var(--dark));
  --nsecondi: 0.225s;
  --nuBelluVerde: #9dff1d;
  --nuBelluGrigio: #131313;
  --nuBelluGrigioChiaro: #a1a1a1;
  --radius: 8px;
}





body {
  background-color: var(--nero);
  /* background: radial-gradient(var(--nuBelluGrigio) 37%, var(--nero) 60%)
    no-repeat center center fixed;
  background-size: 400% 400%;
  background-position: 50% 0%; */
  color: var(--bianco);
  fill: var(--bianco);
}


.content {
  margin-top: 6em;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

}




nav {
  
  background-color: rgba(var(--dark), var(--dark), var(--dark), 0.9);
  -webkit-backdrop-filter: saturate(140%) blur(10px);
  backdrop-filter: saturate(140%) blur(10px);
  z-index: 1;

}

nav  div {
  padding: 40px 2rem;
  max-width: 800px;
  transition-property: padding;
  transition: var(--nsecondi);
}



nav ul {
  margin-left: 1em !important;
  color: rgba(var(--luminosity),var(--luminosity),var(--luminosity), 0.9);
}





.Image {
  padding: 1em 0em;
}

img {
  width: 100%;
}

a {
  color: #60a5fa;
}

.tag {
  background: var(--bianco);
  color: var(--nero);
  border: 2px solid rgb(var(--luminosity), var(--luminosity), var(--luminosity));
  border-radius: 300px;
  display: inline-block;
  padding: .5rem 1.5em;
  margin: .5em .6em .5em 0;
  cursor: pointer;
  /* font-weight: bold; */
}

.tagActive {
  border: 2px solid rgb(136, 255, 56);
  background: rgb(136, 255, 56);
}



.code {
  background-color: rgba(var(--luminosity),var(--luminosity),var(--luminosity),0.1);
  padding: 1.6rem 2rem;
  border-radius: 8px;
  
}


.video {
  width: 100%;
  aspect-ratio: 16/9;
}





@media only screen and (max-width: 768px) {

  nav  div {
    padding: 1.6rem 1.7rem;
  }


}

